.DS_Store

# LaTeX build artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xmpi
thesis/files/thesis.xmpdata

# minted cache output
**/minted-caches/
*.pyg
*.pygtex
*.pygstyle
